body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.icon{
  text-align: center;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
}

.function-item{
  text-align: center;
  display: flex;
  border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.wip{
  float: left;
  margin: 1.5%;
  width: 152px;
  height: 70vh;
  background-color: white;
  border: 1px dotted;
}

.droppable {
  float: right;
  margin: 1.5%;
  width: 70%;
  height: 100vh;
  top: 20;
  background-color: whitesmoke;
}

.draggable {
  width: 150px;
  height: 50px;
  background-color: yellow;
  border: 1px green;
  border-radius: 3px;
  margin: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  /* line-height: 5em; */
}

header {
  text-align: center;
  color: white;
  font-size: 25px;
  height: 30px;
  display: inline-block;
  background-color: rgb(110, 14, 14);
  width: 100%;
}

footer{
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 130, 139);
    width: 100%;
}

.task-header {
  text-align: center;
  height: 25px;
  font-size: 20px;
  display: inline-block;
  background-color: lightblue;
  width: 100%;
}


.place-holder {
  height: 100px auto;
  background-color: cyan;
  border: 1px dotted;
  margin: 5px;
  flex-grow: 1;
  border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.user-guide{
  font-size:12px;

}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
