body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-drag {
  text-align: center;
}

.function-item{
  text-align: center;
  display: flex;
  border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: white;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: darkred;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.droppable {
  position: absolute;
  width: 700px;
  height: 100vh;
  left: 200px;
  top: 20;
  background-color: whitesmoke;
  border-left: 1px dotted;
}

.draggable {
  width: 150px;
  height: 50px;
  background-color: yellow;
  margin: 5px auto;
  border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  /* line-height: 5em; */
}

.place-holder {
  height: 100px auto;
  background-color: cyan;
  border: dotted;
  margin: 5px;
  flex-grow: 1;
}
